################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kalakobana.API/.vs/Kalakobana.API/FileContentIndex
